ES-BackupManager/ES-BackupManager/Connected Services/ESBackupServerService/ESBackupServerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ESBackupServerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53095/ESBackupServerService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53095/ESBackupServerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IESBackupServerService_TestConnection_InputMessage">
    <wsdl:part name="parameters" element="tns:TestConnection" />
  </wsdl:message>
  <wsdl:message name="IESBackupServerService_TestConnection_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="IESBackupServerService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IESBackupServerService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IESBackupServerService_Logout_InputMessage">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="IESBackupServerService_Logout_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogoutResponse" />
  </wsdl:message>
  <wsdl:portType name="IESBackupServerService">
    <wsdl:operation name="TestConnection">
      <wsdl:input wsaw:Action="http://tempuri.org/IESBackupServerService/TestConnection" message="tns:IESBackupServerService_TestConnection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IESBackupServerService/TestConnectionResponse" message="tns:IESBackupServerService_TestConnection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IESBackupServerService/Login" message="tns:IESBackupServerService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IESBackupServerService/LoginResponse" message="tns:IESBackupServerService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input wsaw:Action="http://tempuri.org/IESBackupServerService/Logout" message="tns:IESBackupServerService_Logout_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IESBackupServerService/LogoutResponse" message="tns:IESBackupServerService_Logout_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IESBackupServerService" type="tns:IESBackupServerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TestConnection">
      <soap:operation soapAction="http://tempuri.org/IESBackupServerService/TestConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IESBackupServerService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap:operation soapAction="http://tempuri.org/IESBackupServerService/Logout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ESBackupServerService">
    <wsdl:port name="BasicHttpBinding_IESBackupServerService" binding="tns:BasicHttpBinding_IESBackupServerService">
      <soap:address location="http://localhost:53095/ESBackupServerService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>