ES-BackupManager/ES-BackupManager/Connected Services/ESBackupServerAdminService/ESBackupServerAdminService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ESBackupServerAdminService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53095/ESBackupServerAdminService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53095/ESBackupServerAdminService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53095/ESBackupServerAdminService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ESBackupServer.Database.Objects" />
      <xsd:import schemaLocation="http://localhost:53095/ESBackupServerAdminService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ESBackupServer.App.Objects" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IESBackupServerAdminService_GetClients_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClients" />
  </wsdl:message>
  <wsdl:message name="IESBackupServerAdminService_GetClients_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientsResponse" />
  </wsdl:message>
  <wsdl:message name="IESBackupServerAdminService_GetBackups_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBackups" />
  </wsdl:message>
  <wsdl:message name="IESBackupServerAdminService_GetBackups_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBackupsResponse" />
  </wsdl:message>
  <wsdl:message name="IESBackupServerAdminService_GetLogsByClient_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLogsByClient" />
  </wsdl:message>
  <wsdl:message name="IESBackupServerAdminService_GetLogsByClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLogsByClientResponse" />
  </wsdl:message>
  <wsdl:message name="IESBackupServerAdminService_GetLogsByBackup_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLogsByBackup" />
  </wsdl:message>
  <wsdl:message name="IESBackupServerAdminService_GetLogsByBackup_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLogsByBackupResponse" />
  </wsdl:message>
  <wsdl:message name="IESBackupServerAdminService_GetConfiguration_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConfiguration" />
  </wsdl:message>
  <wsdl:message name="IESBackupServerAdminService_GetConfiguration_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConfigurationResponse" />
  </wsdl:message>
  <wsdl:message name="IESBackupServerAdminService_GetBackupsAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBackupsAll" />
  </wsdl:message>
  <wsdl:message name="IESBackupServerAdminService_GetBackupsAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBackupsAllResponse" />
  </wsdl:message>
  <wsdl:message name="IESBackupServerAdminService_GetLogByClientID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLogByClientID" />
  </wsdl:message>
  <wsdl:message name="IESBackupServerAdminService_GetLogByClientID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLogByClientIDResponse" />
  </wsdl:message>
  <wsdl:message name="IESBackupServerAdminService_SaveConfiguration_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveConfiguration" />
  </wsdl:message>
  <wsdl:message name="IESBackupServerAdminService_SaveConfiguration_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveConfigurationResponse" />
  </wsdl:message>
  <wsdl:portType name="IESBackupServerAdminService">
    <wsdl:operation name="GetClients">
      <wsdl:input wsaw:Action="http://tempuri.org/IESBackupServerAdminService/GetClients" message="tns:IESBackupServerAdminService_GetClients_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IESBackupServerAdminService/GetClientsResponse" message="tns:IESBackupServerAdminService_GetClients_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBackups">
      <wsdl:input wsaw:Action="http://tempuri.org/IESBackupServerAdminService/GetBackups" message="tns:IESBackupServerAdminService_GetBackups_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IESBackupServerAdminService/GetBackupsResponse" message="tns:IESBackupServerAdminService_GetBackups_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLogsByClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IESBackupServerAdminService/GetLogsByClient" message="tns:IESBackupServerAdminService_GetLogsByClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IESBackupServerAdminService/GetLogsByClientResponse" message="tns:IESBackupServerAdminService_GetLogsByClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLogsByBackup">
      <wsdl:input wsaw:Action="http://tempuri.org/IESBackupServerAdminService/GetLogsByBackup" message="tns:IESBackupServerAdminService_GetLogsByBackup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IESBackupServerAdminService/GetLogsByBackupResponse" message="tns:IESBackupServerAdminService_GetLogsByBackup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetConfiguration">
      <wsdl:input wsaw:Action="http://tempuri.org/IESBackupServerAdminService/GetConfiguration" message="tns:IESBackupServerAdminService_GetConfiguration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IESBackupServerAdminService/GetConfigurationResponse" message="tns:IESBackupServerAdminService_GetConfiguration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBackupsAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IESBackupServerAdminService/GetBackupsAll" message="tns:IESBackupServerAdminService_GetBackupsAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IESBackupServerAdminService/GetBackupsAllResponse" message="tns:IESBackupServerAdminService_GetBackupsAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLogByClientID">
      <wsdl:input wsaw:Action="http://tempuri.org/IESBackupServerAdminService/GetLogByClientID" message="tns:IESBackupServerAdminService_GetLogByClientID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IESBackupServerAdminService/GetLogByClientIDResponse" message="tns:IESBackupServerAdminService_GetLogByClientID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveConfiguration">
      <wsdl:input wsaw:Action="http://tempuri.org/IESBackupServerAdminService/SaveConfiguration" message="tns:IESBackupServerAdminService_SaveConfiguration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IESBackupServerAdminService/SaveConfigurationResponse" message="tns:IESBackupServerAdminService_SaveConfiguration_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IESBackupServerAdminService" type="tns:IESBackupServerAdminService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetClients">
      <soap:operation soapAction="http://tempuri.org/IESBackupServerAdminService/GetClients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBackups">
      <soap:operation soapAction="http://tempuri.org/IESBackupServerAdminService/GetBackups" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLogsByClient">
      <soap:operation soapAction="http://tempuri.org/IESBackupServerAdminService/GetLogsByClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLogsByBackup">
      <soap:operation soapAction="http://tempuri.org/IESBackupServerAdminService/GetLogsByBackup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConfiguration">
      <soap:operation soapAction="http://tempuri.org/IESBackupServerAdminService/GetConfiguration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBackupsAll">
      <soap:operation soapAction="http://tempuri.org/IESBackupServerAdminService/GetBackupsAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLogByClientID">
      <soap:operation soapAction="http://tempuri.org/IESBackupServerAdminService/GetLogByClientID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveConfiguration">
      <soap:operation soapAction="http://tempuri.org/IESBackupServerAdminService/SaveConfiguration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ESBackupServerAdminService">
    <wsdl:port name="BasicHttpBinding_IESBackupServerAdminService" binding="tns:BasicHttpBinding_IESBackupServerAdminService">
      <soap:address location="http://localhost:53095/ESBackupServerAdminService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>