ES-BackupManager/ES-BackupManager/Connected Services/ESBackupServerAdminService/ESBackupServerAdminService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ESBackupServer.App.Objects.Config" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ESBackupServer.App.Objects.Config" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEventDefinition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EventDefinition" nillable="true" type="tns:EventDefinition" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEventDefinition" nillable="true" type="tns:ArrayOfEventDefinition" />
  <xs:complexType name="EventDefinition">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsAfterEvent" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsBeforeEvent" type="xs:boolean" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_IsAfter" type="xs:boolean" />
      <xs:element minOccurs="0" name="_IsBefore" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EventDefinition" nillable="true" type="tns:EventDefinition" />
  <xs:complexType name="ArrayOfTimeActionDefinition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TimeActionDefinition" nillable="true" type="tns:TimeActionDefinition" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTimeActionDefinition" nillable="true" type="tns:ArrayOfTimeActionDefinition" />
  <xs:complexType name="TimeActionDefinition">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="TimeActionDefinition" nillable="true" type="tns:TimeActionDefinition" />
</xs:schema>