ES-BackupManager/ES-BackupManager/Connected Services/ESBackupServerAdminService/ESBackupServerAdminService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ESBackupServer.App.Objects.Config" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ESBackupServer.App.Objects.Config" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53095/ESBackupServerAdminService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ESBackupServer.Database.Objects" />
  <xs:complexType name="ArrayOfCommandDefinition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CommandDefinition" nillable="true" type="tns:CommandDefinition" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCommandDefinition" nillable="true" type="tns:ArrayOfCommandDefinition" />
  <xs:complexType name="CommandDefinition">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ESBackupServer.Database.Objects" minOccurs="0" name="CommandType" type="q1:SettingTypeNames" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommandDefinition" nillable="true" type="tns:CommandDefinition" />
  <xs:complexType name="ArrayOfEventDefinition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EventDefinition" nillable="true" type="tns:EventDefinition" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEventDefinition" nillable="true" type="tns:ArrayOfEventDefinition" />
  <xs:complexType name="EventDefinition">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ESBackupServer.Database.Objects" minOccurs="0" name="CommandType" type="q2:SettingTypeNames" />
      <xs:element minOccurs="0" name="IsAfterEvent" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsBeforeEvent" type="xs:boolean" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_IsAfter" type="xs:boolean" />
      <xs:element minOccurs="0" name="_IsBefore" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EventDefinition" nillable="true" type="tns:EventDefinition" />
  <xs:complexType name="ArrayOfCRONDefinition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CRONDefinition" nillable="true" type="tns:CRONDefinition" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCRONDefinition" nillable="true" type="tns:ArrayOfCRONDefinition" />
  <xs:complexType name="CRONDefinition">
    <xs:sequence>
      <xs:element minOccurs="0" name="CRON" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ESBackupServer.Database.Objects" minOccurs="0" name="CommandType" type="q3:SettingTypeNames" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CRONDefinition" nillable="true" type="tns:CRONDefinition" />
</xs:schema>