ES-BackupManager/ES-BackupManager/Connected Services/ESBackupServerAdminService/ESBackupServerAdminService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/ESBackupServer.Database.Objects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ESBackupServer.Database.Objects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53095/ESBackupServerAdminService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfClient">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Client" nillable="true" type="tns:Client" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClient" nillable="true" type="tns:ArrayOfClient" />
  <xs:complexType name="Client">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IDAdministrator" type="xs:long" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReportInterval" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Status" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="StatusReportEnabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="UTCLastBackupTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UTCLastStatusReportTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UTCRegistrationDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Client" nillable="true" type="tns:Client" />
  <xs:complexType name="ArrayOfBackup">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Backup" nillable="true" type="tns:Backup" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBackup" nillable="true" type="tns:ArrayOfBackup" />
  <xs:complexType name="Backup">
    <xs:sequence>
      <xs:element minOccurs="0" name="BackupType" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="BaseBackupID" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="Compressed" type="xs:boolean" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Destination" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailSent" type="xs:boolean" />
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element minOccurs="0" name="IDBackupTemplate" type="xs:long" />
      <xs:element minOccurs="0" name="IDClient" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PathOrder" type="xs:unsignedShort" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="UTCEnd" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UTCExpiration" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UTCStart" type="xs:dateTime" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Backup" nillable="true" type="tns:Backup" />
  <xs:complexType name="ArrayOfLog">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Log" nillable="true" type="tns:Log" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLog" nillable="true" type="tns:ArrayOfLog" />
  <xs:complexType name="Log">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="IDBackup" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="IDClient" type="xs:int" />
      <xs:element minOccurs="0" name="LogType" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="UTCTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Log" nillable="true" type="tns:Log" />
  <xs:complexType name="ArrayOfBackupTemplate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BackupTemplate" nillable="true" type="tns:BackupTemplate" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBackupTemplate" nillable="true" type="tns:ArrayOfBackupTemplate" />
  <xs:complexType name="BackupTemplate">
    <xs:sequence>
      <xs:element minOccurs="0" name="BackupEmptyDirectories" type="xs:boolean" />
      <xs:element minOccurs="0" name="BackupType" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="CRONRepeatInterval" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Compression" type="xs:boolean" />
      <xs:element minOccurs="0" name="DaysToExpiration" nillable="true" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Enabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element minOccurs="0" name="IDClient" type="xs:int" />
      <xs:element minOccurs="0" name="IsEmailNotificationEnabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsNotificationEnabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Paths" nillable="true" type="tns:ArrayOfBackupTemplatePath" />
      <xs:element minOccurs="0" name="SearchPattern" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="BackupTemplate" nillable="true" type="tns:BackupTemplate" />
  <xs:complexType name="ArrayOfBackupTemplatePath">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BackupTemplatePath" nillable="true" type="tns:BackupTemplatePath" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBackupTemplatePath" nillable="true" type="tns:ArrayOfBackupTemplatePath" />
  <xs:complexType name="BackupTemplatePath">
    <xs:sequence>
      <xs:element minOccurs="0" name="Destination" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="IDBackupTemplate" type="xs:long" />
      <xs:element minOccurs="0" name="PathOrder" type="xs:short" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetType" type="xs:unsignedByte" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="BackupTemplatePath" nillable="true" type="tns:BackupTemplatePath" />
  <xs:complexType name="Administrator">
    <xs:sequence>
      <xs:element minOccurs="0" name="Emails" nillable="true" type="tns:ArrayOfEmail" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UTCRegistrationDate" type="xs:dateTime" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Administrator" nillable="true" type="tns:Administrator" />
  <xs:complexType name="ArrayOfEmail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Email" nillable="true" type="tns:Email" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmail" nillable="true" type="tns:ArrayOfEmail" />
  <xs:complexType name="Email">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="IDAdministrator" type="xs:long" />
      <xs:element minOccurs="0" name="IsDefault" type="xs:boolean" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Email" nillable="true" type="tns:Email" />
</xs:schema>